.file {
    margin-top: 5px;
    margin-bottom: 20px;
    position: relative;
    left: 38%;
    right: 50%;
}

.file > input[type="file"] {
    position: absoulte;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
    
.file > label {
    padding: 4px;
    background-color: #666;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer
}

.searchBox {
    border: 0;
    background: rgb(0 0 0 / 50%);
    margin: 5px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s" 
}

  body {
      background-blend-mode: soft-light;
      background-color: rgba(52, 53, 49, 0.7);
      background-repeat: no-repeat; 
      background-size: cover;
      color: white; 
      text-align: center; 
      font-family: 'Poppins', sans-serif;
  }
  
  .card {
      border: none
  }
  
  .box {
      background: #191919de;
      padding: 40px;
      width: 500px;
      position: absolute;
      top: 50%;
      left: 55%;
      text-align: center;
      transition: 0.25s;
      margin-top: 50px
  }
  
  .box input[type="text"],
  .box input[type="password"] {
      border: 0;
      background: none;
      display: block;
      margin: 5px auto;
      text-align: center;
      border: 2px solid #3498db;
      padding: 10px 10px;
      width: 250px;
      outline: none;
      color: white;
      border-radius: 24px;
      transition: 0.25s
  }
  
  .box h1 {
      color: white;
      text-transform: uppercase;
      font-weight: 500
  }
  
  .box input[type="text"]:focus,
  .box input[type="password"]:focus {
      width: 300px;
      border-color: #2ecc71
  }
  
  .box input[type="submit"] {
      border: 0;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid #2ecc71;
      padding: 14px 40px;
      outline: none;
      color: white;
      border-radius: 24px;
      transition: 0.25s;
      cursor: pointer
  }
  
  .box input[type="submit"]:hover {
      background: #2ecc71
  }
  
  .forgot {
      text-decoration: underline
  }
  
  .btn-circle.btn-lg {
      color: white;
      background-color: #191919;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;    
      padding: 10px 16px;
      line-height: 1.33;
      border-radius: 50%;
    
    }