<html>
  <html lang="en">
  <head>
    <link rel="stylesheet" href ="{{ url_for('static', filename='login/assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href = "{{ url_for('static', filename='login/assets/css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
  </head>
    <body style="background-image: url({{ url_for('static', filename='login/assets/svg/work_chat.svg') }});">
      <div class="container" style="margin-top: 50px;">
        <h1 style="font-family: Source Sans Pro, sans-serif;" id="page_title">My message in a bottle</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                  <form action="" method="POST" class="box">
                    <h1>Login</h1>
                    <p class="text-muted">Please enter your login and password!</p>
                     {{ form.hidden_tag() }}
                     {% for field in form.display %}
                     {{ form[field].label }}
                     {{ form[field]() }}
                       {% if form[field].errors %}
                          {% for e in form[field].errors %}
                           <p class="help-block">{{ e }}</p>
                          {% endfor %}
                       {% endif %}
                     <br>
                     {% endfor %}
                     <p id = "wrong_credentials" style="color:#FF0000";>{{ wrong_credentials }}</p>
                     <input type=submit value="Log in">
                    <p class="text-muted">Or maybe do you want to <a href="/create_user">register</a>?</p>
                  </form>
                </div>
            </div>
        </div>
      </div>
  </body>
</html>
