<html>
  <html lang="en">
      <head>
        <link rel="stylesheet" href ="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href = "{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
      </head>
  <body style="background: linear-gradient(to right, rgb(54, 192, 107), #2f91e0); color: black; text-align: center;">
    <div class="users" style="margin-top: 50px;">
    <h1>Users List</h1>
    <div class = "users_list"
      <ul>
        {% for user in users: %}
        <li>
          {{user.firstname}} {{user.lastname}} {{user.email}}
          <button type="button" class="btn btn-success btn-circle btn-lg"><i class="glyphicon glyphicon-envelope"></i></button>     </li>
        {% endfor %}
      </ul>
     
  </div>
    </div>
  </body>
</html>
